body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

#index .header-items-wrap{
  display: flex;
  display: -webkit-flex; /* Safari */
  align-items: center;
}
#index .logo-img{
  max-width: 210px;
  height: 70px;
}
#index .navbar{
  margin-top: 20px;
}
#index .navbar nav{
  display: flex;
  display: -webkit-flex; /* Safari */
  align-items: center;
}

#index #myCarousel{
  /*height: 300px;*/
}

#index .box {
  margin-top: 20px;
}

#index .jumbotron{
  padding: 30px 40px;
}

footer ul{
  display: flex;
  display: -webkit-flex; /* Safari */
  justify-content: center;
}

