<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{>header}}
    <link rel="stylesheet" href="../stylesheets/index.css">
    <link rel="stylesheet" href="../stylesheets/student.css">
    <script src="javascripts/jquery.als-1.7.js"></script>
</head>
<body id="student" style="min-width: 980px">
    <!--top-->
    {{>top}}

    <div class="carousel-wrap container-fluid" style="padding: 0">
        <!--轮播图-->
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="../images/ad1.jpg" alt="First slide" style="width: 3000px">
                    <div class="carousel-caption">标题 1</div>
                </div>
                <div class="item">
                    <img src="../images/ad2.jpg" alt="Second slide" style="width: 3000px">
                    <div class="carousel-caption">标题 2</div>
                </div>
                <div class="item">
                    <img src="../images/ad3.jpg" alt="Third slide" style="width: 3000px">
                    <div class="carousel-caption">标题 3</div>
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control left" href="#myCarousel"
               data-slide="prev">
            </a>
            <a class="carousel-control right" href="#myCarousel"
               data-slide="next">
            </a>
        </div>
    </div>

    <div class="nav-nav">
        <ul class="list-inline" >
            <li class="on"><a href="#">学员风采</a></li>
            <li><a href="#">最新捷报</a></li>
            <li><a href="#">往届佳绩</a></li>
        </ul>
    </div>


    <section id="content">
        <h1 style="margin-top: 50px;font-size: 40px;text-align: center">学员风采</h1>
        <div id="lista1" class="als-container">
            <span class="als-prev"><img src="images/prev.png" alt="prev" title="previous" /></span>
            <div class="als-viewport">
                <ul class="als-wrapper">
                    <li class="als-item"><img src="images/fruits/arancio.png" alt="orange" title="orange" />orange</li>
                    <li class="als-item"><img src="images/fruits/mela.png" alt="apple" title="apple" />apple</li>
                    <li class="als-item"><img src="images/fruits/banana.png" alt="banana" title="banana" />banana</li>
                    <li class="als-item"><img src="images/fruits/mirtillo.png" alt="blueberry" title="blueberry" />blueberry</li>
                    <li class="als-item"><img src="images/fruits/anguria.png" alt="watermelon" title="watermelon" />watermelon</li>
                    <li class="als-item"><img src="images/fruits/ciliegia.png" alt="cherry" title="cherry" />cherry</li>
                    <li class="als-item"><img src="images/fruits/fragola.png" alt="strawberry" title="strawberry" />strawberry</li>
                    <li class="als-item"><img src="images/fruits/avocado.png" alt="avocado" title="avocado" />avocado</li>
                    <li class="als-item"><img src="images/fruits/pera.png" alt="pear" title="pear" />pear</li>
                    <li class="als-item"><img src="images/fruits/ananas.png" alt="pineapple" title="pineapple" />pineapple</li>
                    <li class="als-item"><img src="images/fruits/papaya.png" alt="papaya" title="papaya" />papaya</li>
                    <li class="als-item"><img src="images/fruits/lampone.png" alt="raspberry" title="raspberry" />raspberry</li>
                </ul>
            </div>
            <span class="als-next"><img src="images/next.png" alt="next" title="next" /></span>
        </div>

    </section>


    <!--footer-->
    {{>footer}}
</body>

<script type="text/javascript">
    $("#lista1").als({
        visible_items: 4,
        scrolling_items: 1,
        orientation: "horizontal",
        circular: "yes",
        autoscroll: "yes",
        interval: 2000
    });
</script>
</html>
