<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{>header}}
    <link rel="stylesheet" href="../stylesheets/index.css">
</head>
<body id="biunique" style="min-width: 980px">
    <!--top-->
    {{>top}}
    <h1>学硕</h1>
    <!--footer-->
    {{>footer}}
</body>
</html>
