<footer>
    <div class="container" style="margin-top: 40px">


        <ul class="list-inline">
            <li><a href="/">网站首页</a></li>
            <li><a href="http://bbs.kaoyan.com/" target="_blank">考研论坛</a></li>
            <li><a href="#">人才招聘</a></li>
            <li><a href="#">讲师招募</a></li>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">意见反馈</a></li>
            <li><a href="#">友情链接</a></li>
        </ul>

        <p class="text-center">Copyright JKxueyuan © 2016</p>
        <p class="text-center">湘ICP备15008133号-1</p>
    </div>
</footer>