<!--头部区域-->
<div class="container header">
    <div class="row header-items-wrap">
        <div class="col-md-3 logo-wrap">
            <img class="logo-img" src="../images/logo.png">
        </div>
        <div class="col-md-6 search-wrap">
            <input type="text" class="form-control" placeholder="搜索课程，资料等内容">
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
<!--导航条-->
<nav class="navbar navbar-default" role="navigation">
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#">首页</a></li>
        <li role="presentation"><a href="#">频道1</a></li>
        <li role="presentation"><a href="#">频道2</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">下拉频道<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
            </ul>
        </li>
    </ul>
</nav>