<!--头部区域-->
<div class="container-fluid header" style="padding: 0">
    <div class="row header-items-wrap">
        <div class="col-md-3 logo-wrap">
            <img class="logo-img" src="../images/logo.png">
        </div>
        <div class="col-md-6 search-wrap">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索课程，资料等内容">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <!--<input type="text" class="form-control" placeholder="搜索课程，资料等内容">-->
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
<!--导航条-->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="#">Brand</a>-->
        <!--</div>-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="/biunique">精英1对1</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">心理学考研<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/xueshuo">心理学学硕</a></li>
                        <li><a href="/zhuanshuo">心理学专硕</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">公共课考研<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/politics">政治</a></li>
                        <li><a href="/english">英语一/二</a></li>
                    </ul>
                </li>
                <li><a href="/teacher">师资教研</a></li>
                <li><a href="/student">成功学员</a></li>
                <li><a href="https://jkky.taobao.com" target="_blank">报名中心</a></li>
                <li><a href="http://www.jkclass.com.cn/" target="_blank">课程网校</a></li>

            </ul>

            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="#">Link</a></li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
